<h1>Application configuration</h1>

<% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<% @envs.each do |env| %>
  <%= simple_form_for :env, url: env_path(env), method: :put do |f| %>
    <%= f.input :name, readonly: true, input_html: { value: env.name } %>
    <%= f.input :value, input_html: { value: env.value } %>
    <%= f.button :submit %>
  <% end %>
  <hr/>
<% end %>
