<!DOCTYPE html>
<html>
<head>
  <title>Vadmin</title>
  <%= stylesheet_link_tag    "vadmin/application", media: "all" %>
  <%= javascript_include_tag "vadmin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
