<br/>
<!--%= link_to 'Application configuration', vadmin.envs_path %-->
<%= link_to 'mVeeta Button Client Applications', '/oauth_clients', :target => "_blank"%>
<br/>
<%= link_to 'Background Jobs', '/veeta-background', :target => "_blank"%>
<br/>
<%= link_to 'Talents', '/admin/talent' %>
<br/>
<%= link_to 'Recruiters', '/admin/recruiter' %>
<br/>
<%= link_to 'Companies', '/admin/company' %>
<br/>
<%= link_to 'Logs', '/admin/log' %>
<br/><br/><br/>
<%= link_to 'Logout', '/oauth-mgmt/sign_out', method: :delete %>

<br/>
