.col-xs-3
  = link_to "Resend verification mail", vadmin.resend_confirmation_email_notifications_path(@object, talent_id: @object.id), class: "btn btn-primary"
.col-xs-3
  = link_to "Resend reset password email", vadmin.resend_password_reset_email_notifications_path(@object, talent_id: @object.id), class: "btn btn-primary"