For each integration and transition service individual service settings need to be taken into account. <br/>
These settings are highly integration and even company specific and therefore stored in JSON format. <br/>
<br/>

Please follow this link in order to read and understand what settings are required for a particular integration. <a href="https://talentsolutions.atlassian.net/wiki/display/VEETA/Customer+Implementations" target="_blank">ATS Integration Setup Docu</a>
